<div class="container-fluid">
  <!-- Date information -->
  <div style="padding: 40px">
    <h3>Today</h3>
    <p>Tuesday, 8 August 2019</p>
  </div>
  <!-- Add task button-->
  <div class="col-md-11 text-center">
    <button style="width: 20%; height: 30px;" (click)="onTaskAdded()">Add</button>
  </div>
  <!-- List of Tasks -->
  <div class="col-md-10" style="padding-left: 70px;">
    <ul class="list-group">
      <!-- Individual task item -->
      <li class="list-group-item"  *ngFor="let tasks of taskArray" style=" padding: 0;" appBorderHighlight>
        <!-- edit task component -->
        <app-task-edit
          *ngIf="tasks.edit"
          (taskSaved)="onTaskSaved({newDescription: $event.taskDescription, count: tasks.count})"
        ></app-task-edit>
        <!-- Task item component -->
        <app-task-item
          *ngIf="!tasks.edit"
          [task]="tasks"
          (editedTask)="onTaskEdited($event)"
        ></app-task-item>
      </li>
    </ul>
  </div>
  <!-- Footer component -->
  <div class="align-items-end" style="height: 50px">
    <app-footer></app-footer>
  </div>
</div>
