@media (min-width: 767px) {
  #sideMenuToggler {
    display: none;
  }
}


li {
  margin: 2% 1% 2% 1%;
  height: 20%;
  padding: 0;
}

div {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#addButton {
  width: 16%;
}

#listContainer {
  padding: 0 0 3% 0;
}

#day-select-container {
  padding: 0 3rem 1rem 3rem;
}
/*li.dragging {*/
/*  display: none;*/
/*}*/

.task-substitute {
  display: none;
}

.task-substitute.dragging {
  display: list-item;
  margin: 10px 0;
  width: 520px;
  height: 80px;
}

.task-content.dragging {
  display: none;
}



.helper {
  height: 80px;
  width: 520px;
}
