li {
  margin: 10px 0;
  height: 80px;

}

/*li.dragging {*/
/*  display: none;*/
/*}*/

.task-substitute {
  display: none;
}

.task-substitute.dragging {
  display: list-item;
  margin: 10px 0;
  width: 520px;
  height: 80px;
}

.task-content.dragging {
  display: none;
}



.helper {
  height: 80px;
  width: 520px;
}
