<div class="container-fluid" appMovableArea>
  <!-- Date information -->
  <div style="padding: 40px">
    <h3>{{dayString}}</h3>
    <p>{{dateString}}</p>
  </div>
  <!-- Add task button-->
  <div class="col-md-11 text-center">
    <button style="width: 20%; height: 30px;" (click)="onAddTask()">Add</button>
  </div>
  <!-- List of Tasks -->
  <div class="col-md-10" style="padding-left: 70px; background-color: #BEBEBE" appMovable >
    <ul class="list-group" appSortableList (sort)="sort($event)">
      <!-- Individual task item -->
      <li class="list-group-item"  *ngFor="let task of tasks" style="padding: 0;" appSortable appBorderHighlight>
        <div>
          <!-- edit task component -->
          <!-- If not using services, add "(taskSaved)="onTaskSaved({newDescription: $event.taskDescription, count: task.count})"" to the <app-task-edit> tag -->
          <app-task-edit
            *ngIf="task.edit"
            [task]="task"
            [taskCount]="tasks.indexOf(task)"

          ></app-task-edit>
          <!-- Task item component -->
          <!-- If not using services, add "(editedTask)="onTaskEdited($event)"" to the <app-task-item> tag -->
          <app-task-item
            *ngIf="!task.edit || task.edit === undefined"
            [task]="task"
            [index]="tasks.indexOf(task)"

          ></app-task-item>
        </div>
        <div *ngIf="!task.edit" style="padding: 0; margin: 0;">
          <div class="list-group-item helper" style="padding: 0;" *appDraggableHelper>
            <app-task-item
              [task]="task"
              [index]="tasks.indexOf(task)"
            ></app-task-item>
          </div>
        </div>
      </li>
      <li class="task-substitute"></li>

    </ul>
  </div>
  <!-- Footer component -->
  <div class="align-items-end" style="height: 50px">
    <app-footer></app-footer>
  </div>
</div>
