<div class="container-fluid">
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-outline-dark" style="border-right: 1px solid #111111;" *ngFor="let day of days">
      <input (click)="onDaySelected(day)" type="radio" name="options" id="option1" autocomplete="off" checked>{{day}}
    </label>

    <!--
    <div style="border-right: 1px solid #111111;">
      <button class="btn btn-light" type="text">Tuesday</button>
    </div>
    <div style="border-right: 1px solid #111111;">
      <button class="btn btn-light" type="text">Wednesday</button>
    </div>
    <div style="border-right: 1px solid #111111;">
      <button class="btn btn-light" type="text">Thursday</button>
    </div>
    <div style="border-right: 1px solid #111111;">
      <button class="btn btn-light" type="text">Friday</button>
    </div>
    <div style="border-right: 1px solid #111111;">
      <button class="btn btn-light" type="text">Saturday</button>
    </div>
    <div style="border-right: 1px solid #111111;">
      <button class="btn btn-light" type="text">Sunday</button>
    </div>
    -->
  </div>
</div>
