<div class="container-fluid">
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-outline-dark" style="border-right: 1px solid #111111;">
      <input type="radio" name="options" id="option1" autocomplete="off" checked>Monday
    </label>
    <label class="btn btn-outline-dark" style="border-right: 1px solid #111111;">
      <input type="radio" name="options" id="option2" autocomplete="off">Tuesday
    </label>
    <label class="btn btn-outline-dark" style="border-right: 1px solid #111111;">
      <input type="radio" name="options" id="option3" autocomplete="off">Wednesday
    </label>
    <label class="btn btn-outline-dark" style="border-right: 1px solid #111111;">
      <input type="radio" name="options" id="option4" autocomplete="off">Thursday
    </label>
    <label class="btn btn-outline-dark" style="border-right: 1px solid #111111;">
      <input type="radio" name="options" id="option5" autocomplete="off">Friday
    </label>
    <label class="btn btn-outline-dark" style="border-right: 1px solid #111111;">
      <input type="radio" name="options" id="option6" autocomplete="off">Saturday
    </label>
    <label class="btn btn-outline-dark" style="border-right: 1px solid #111111;">
      <input type="radio" name="options" id="option7" autocomplete="off">Sunday
    </label>
    <!--
    <div style="border-right: 1px solid #111111;">
      <button class="btn btn-light" type="text">Tuesday</button>
    </div>
    <div style="border-right: 1px solid #111111;">
      <button class="btn btn-light" type="text">Wednesday</button>
    </div>
    <div style="border-right: 1px solid #111111;">
      <button class="btn btn-light" type="text">Thursday</button>
    </div>
    <div style="border-right: 1px solid #111111;">
      <button class="btn btn-light" type="text">Friday</button>
    </div>
    <div style="border-right: 1px solid #111111;">
      <button class="btn btn-light" type="text">Saturday</button>
    </div>
    <div style="border-right: 1px solid #111111;">
      <button class="btn btn-light" type="text">Sunday</button>
    </div>
    -->
  </div>
</div>
