<div class="row" style="margin-top: 60px">
  <div class="col-md-12">
    <div class="float-right" style="line-height: 0.7">
      <h4 class="">{{name + ' ' + surname}}</h4>
      <p>22/30</p>
      <p>Progress bar</p>
    </div>
    <div class="float-right" style="padding: 20px">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Chimichurri_Sauce_Recipe_%2813294405363%29.jpg"
        alt=""
        style="max-height: 50px; max-width: 50px"
      >
    </div>
  </div>
</div>
<div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="row float-right">
        <p>ICON</p>
        <button class="btn" style="width: 100px">Dashboard</button>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row float-right">
        <p>ICON</p>
        <button class="btn" style="width: 100px">Today</button>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row float-right">
        <p>ICON</p>
        <button class="btn" style="width: 100px">Tomorrow</button>
      </div>
    </li>

  </ul>
</div>
